KAFKA_CLIENT_ID=wikimedia-analytics-app
KAFKA_BROKERS=localhost:9094
KAFKA_TOPIC_RAW=wikimedia.recentchange.raw
KAFKA_TOPIC_ANALYTICS=wikimedia.recentchange.analytics
KAFKA_TOPIC_DEAD_LETTER=wikimedia.recentchange.dlq
KAFKA_GROUP_ANALYTICS=wikimedia-analytics-consumer
KAFKA_GROUP_OPENSEARCH=wikimedia-opensearch-consumer
KAFKA_GROUP_REPLAY=wikimedia-replay-consumer
KAFKA_TOPIC_PARTITIONS=6
KAFKA_TOPIC_REPLICATION_FACTOR=1
WIKIMEDIA_STREAM_URL=https://stream.wikimedia.org/v2/stream/recentchange
PRODUCER_PROFILE=throughput
PRODUCER_LINGER_MS=250
PRODUCER_MAX_BATCH_SIZE=200
PRODUCER_RETRIES=8
PRODUCER_ACKS=-1
PRODUCER_IDEMPOTENT=true
OPENSEARCH_NODE=https://localhost:9200
OPENSEARCH_INDEX=wikimedia_recentchange
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD="Str0ng!WikiSearch#2026"